@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mixins.scss';

.header {
  position: relative;

  a {
    svg {
      vertical-align: middle;
    }
  }
  
  .navbar {
    padding: 1.25rem 1.5rem 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .navbar-nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;
      justify-content: space-between;

      @media (max-width: 767px) {
        justify-content: space-between;
        width: 100%;
      }
    }
  }

  .logo {
    font-size: 1rem;
    font-weight: 600;
    color: $white;
    display: block;
    padding-right: 0.5rem; 
    padding-left: 0; 
    border-radius: .5rem;
    color: $dark;
    position: relative;
    z-index: 99999;

    svg {
      vertical-align: middle;
      margin-right: 5px;
      transform: translateY(0px);
      width: 28px;
      height: auto;
    }
  }
}
