@import './colors.scss';
@import './mixins.scss';

html {
  font-size: 16px;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  letter-spacing: -.03em;
  background-color: $background;
  color: $dark
}

table {
  background-color: $white;;
}

a {
  color: $main;

  @include transition(0.15s);

  &:hover {
    color: saturate(darken($main, 9), 20);
    @include transition(0.3s);
  }

  &, &:focus, &:active, &:hover {
    text-decoration: none !important;
  }
  &:focus, &:active, &:hover {
    @include transition(0.35s);
  }
  &.active {
    color: $main;
  }
  &:focus-visible {
    // &, &:focus, &:active, &:hover {
      border-radius: .25rem;
      outline: 2px solid rgba($main, 0.5);
    // }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Manrope', sans-serif;
  font-weight: 700;
}

html, body, #root, .ws-app {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
}
.ws-app {
  display: flex;
  flex-direction: column;
}

.container, .container-fluid {
  // max-width: 1020px;
  // padding-left: 16px;
  // padding-right: 16px;
  padding: 2rem;
  padding-top: 0;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.row {
  flex-grow: 1;
}

.modal-body {}

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.color-white {
  color: $white;
}
.color-faded {
  color: $text-secondary;
}

.widget-wrapper {
  overflow: hidden;
}

.content-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  h6 {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 16px;
  }
}

.modal-body {
  & > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.main, main {
  .button-block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: fixed !important;
    bottom: .875rem;
    right: 1.5rem;
    z-index: 101;

    & > * {
      margin-left: .5rem;
    }
  }

  .button-block-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute !important;
    top: 1.0625rem;
    right: 1.5rem;

    & > * {
      background-color: #ebebef;
      border-radius: 1rem;
      font-size: 13px;
      font-weight: 650;
      letter-spacing: -.025rem;
      // padding-top: 0;
      // padding-bottom: 0;
      margin-left: .75rem;

      svg {
        color: #007BFF;
        height: 18px;
        width: 18px;
        vertical-align: middle;
        transform: translateX(-4px) translateY(0px);
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      }

      &:hover {
        color: #ffffff;
        background-color: #007BFF;

        svg {
          color: #003772;
        }
      }
    }
  }

  h1 {
    background: linear-gradient(96.02deg, #506DFD 0%, #769FFF 89.06%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    max-width: 700px;
    margin-bottom: 2rem;
    position: relative;
    z-index: 10;

    @media (max-width: 767px) {
      font-size: calc(10vw) !important;
      line-height: calc(15vw) !important;
    }
  }
  h1 + div {
    position: relative;
    z-index: 10;

    span {
      white-space: nowrap;
    }
  }
  h1 + * > span > svg {
    transform: translateY(4px);
    margin: 0 3px;
  }
  .visual-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;

    @media (max-width: 767px) {
      opacity: .5 !important;
    }

    .visual {
      background-color: transparent;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-300px);

      svg {
        position: absolute;
        pointer-events: none;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);

        @for $i from 15 through 1 {
          &:nth-child(#{$i}) {
            opacity: #{(16 - $i) * 0.06666666666};
            transform: rotate(#{($i - 1) * (-4.1)}deg);
          }
        }
      }
    }
  }
}

th span {
  font-weight: 600 !important;
}

.status-dot {
  width: .6rem;
  height: .6rem;
  border-radius: .3rem;
  margin: .5rem .5rem;
  display: block;

  &.success {
    background: #05d105;
    box-shadow1:#05d10588 0px 8px 14px 0px;
  }

  &.warning {
    background: #ffdb4d;
    box-shadow1:rgba(255, 204, 0, 0.25) 0px 8px 14px 0px;
  }

  &.error {
    background: #fc3f1d;
    box-shadow1:#fc3f1d80 0px 8px 14px 0px;
  }

  &.loading {
    background: #c5c7d8;
    box-shadow1:#9299bb52 0px 8px 14px 0px;
    -webkit-animation: blink 1.25s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: blink 1.25s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  }

  @-webkit-keyframes blink {
    0% {
      opacity: 1; }
    45% {
      opacity: 0.3; }
    80% {
      opacity: 1; } }
  @keyframes blink {
    0% {
      opacity: 1; }
    45% {
      opacity: 0.3; }
    80% {
      opacity: 1; } }
}

.loading {
  opacity: 0.7;
}

.modal-overlay {
  & > div:first-child {
    background-color: #ffffff;
  }

  .close-button {
    position: absolute;
    right: 22px;
    top: 18px;
  }
}
.cell-button {
  padding: 12px 16px !important;
  text-align: right;

  button {
    float: right;
    background-color: #ebebef;
    border-radius: 1rem;
    padding-left: 12px;
    padding-right: 12px;
  }
}
table {
  tr {  
    &:last-child {
      td {
        border-bottom: none !important;
      }
    }
  }
  td {
    button:disabled {
      background-color: rgba(0, 0, 40, 0.1) !important;
    }
  }
}
.table-wrapper {
  margin-bottom: 24px !important;
}

.loading-preview {
  color: $gray-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 3rem);
  padding-bottom: 3rem;

  img {
    width: 176px;
    height: auto;
  }

  p {
    margin-top: -15px;
    text-indent: 15px;
  }
}

button {
  cursor: pointer !important;
}

.table-row-noborder {
  td, th {
    border-bottom: none !important;
  }

  & + tr {
    td, th {
      padding-top: 0;
    }
  }
}

pre {
  font-family: 'Noto Sans Mono', 'Courier New', Courier, monospace;
  font-family: 'Red Hat Mono', 'Courier New', Courier, monospace;
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
  font-weight: 400;
  background-color: darken($surf-gray-background, 1);
  margin: 0;
  border-radius: .5rem;
  padding: 1rem 1rem;
  font-size: 13px;

  code {
    font-family: inherit;
  }
}