@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mixins.scss';

.footer-wrapper {
  background-color: $white !important;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}
.footer {
  font-size: 0.925rem;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2rem 1rem;

    @media (max-width: 1199px) {
      padding: 2rem 1rem;
    }
    @media (max-width: 991px) {
      padding: 2rem 1rem;
    }
    @media (max-width: 767px) {
      padding: 2rem 1rem;
    }

    @media (max-width: 499px) {
      flex-direction: column;
    }
  }
  
  @media (max-width: 499px) {
    height: auto;
  }

  .copyright {
    color: $tertiary;
  }
  .grid {
    padding: 1rem 0 1.5rem;
  }
}