@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mixins.scss';

.repository-actions {
  margin-top: -2.5px;

  & > * {
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
  .repository-action {
    color: rgba($dark, 0.7);

    * {
      display: inline-block;
    }

    span {
      color: $dark;
      font-size1: 14px;
      font-weight: 600;
      margin-right: .25rem;
      
      svg {
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-top: -2px;
        stroke-width: 0.15rem;
      }
      .my-icon {
        &, * {
          stroke-width: 0.13rem;
        }
      }
    }
  }
}
.tree {
  padding-top: 24px;
  flex-grow: 1;
}
.tree-files {
  border-radius: 5px;
  border: 0.07rem solid #e8e9ee;

  .tree-files-item {
    padding: .375rem .5rem;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 0.07rem solid #e8e9ee;
    @include transition(0.2s);

    a {
      color: $dark;
    }

    &:last-child {
      border-bottom: none;
    }

    &:hover {
      background-color: $surf-gray-background-alt;

      a {
        color: $main;
      }
    }
  }
}